pandas
---

# start with pandas

In [1]:
import pandas as pd

# data types in pandas
## data frame
A DataFrame is a table.

In [3]:
pd.DataFrame({'math': [20, 12], 'physics': [15, 17.5]})

   math  physics
0    20     15.0
1    12     17.5

sometimes we  want to assign row labels ourselves instead of numbers

In [5]:
pd.DataFrame({'math': [20, 12], 'physics': [15, 17.5]}
            ,index=["ali","mahdi"])

       math  physics
ali      20     15.0
mahdi    12     17.5

## series
A Series, by contrast, is a sequence of data values. If a DataFrame is a table, a Series is a list.

In [6]:
pd.Series([9.75,20, 15])

0     9.75
1    20.00
2    15.00
dtype: float64

we can assign column values to the Series the same way as before, using an index parameter. However, a Series does not have a column name, it only has one overall name

In [7]:
pd.Series([9.75,20, 15],index=["math","physics","chemistry"],name="scores")

math          9.75
physics      20.00
chemistry    15.00
Name: scores, dtype: float64